:root {

    --main-font: 'Roboto';
    --main-cl: #2C2C2C;
    --black: #000000;
    --btn-gr: #BBF330;
    --btn-gr-hov: #B5FF00;
    --border-btn: #7EB101;
    --border-btn-hov: #597D00;
    --yellow-main: #FFE550;
    --white: #FEFEFE;
    --bg-cl: #F5F5F5;
    --indent: 32px;
    --items: 1;
    --trans-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

