:root {

    --main-font: 'Roboto';
    --main-cl: #2C2C2C;
    --btn-gr: #BBF330;
    --btn-gr-hov: #B5FF00;
    --border-btn: #7EB101;
    --border-btn-hov: #597D00;
    --yellow-main: #FFE550;
    --bg-cl: #BBF330;
    --white: #FEFEFE;
    --indent: 32px;
    --items: 1;

}