<section class="customers">
  <h3 class="visually-hidden">Customers</h3>

  <div class="container customers-container">
    <h2 class="customers__title">What our customers Say</h2>
    <p class="customers__text">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    </p>
    <ul class="customers__list list">
      <li class="customers__list-item">
        <svg class="customers__list-icon" width="101px" height="16px">
          <use
            href="./images/customers_say/customers-sprite.svg#icon-stars"
          ></use>
        </svg>

        <p class="customers__list-text">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a friend, No questions asked”
        </p>

        <div class="customers__list-card">
          <div class="customers__list-photo">
            <picture>
              <source
                srcset="
                  ./images/customers_say/customer1@1x.png 1x,
                  ./images/customers_say/customer1@2x.png 2x
                "
              />

              <img
                class="customer-image"
                src="./images/customers_say/customer1@1x.png"
                alt="Customer"
              />
            </picture>
          </div>
          <div class="customers__list-content">
            <h3 class="customers__card-title">Sumith Shah</h3>
            <p class="customers__card-text">Some Dude</p>
          </div>
        </div>
      </li>
      <li class="customers__list-item">
        <svg class="customers__list-icon" width="101px" height="16px">
          <use
            href="./images/customers_say/customers-sprite.svg#icon-stars"
          ></use>
        </svg>

        <p class="customers__list-text">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>

        <div class="customers__list-card">
          <div class="customers__list-photo">
            <picture>
              <source
                srcset="
                  ./images/customers_say/customer2@1x.png 1x,
                  ./images/customers_say/customer2@2x.png 2x
                "
              />

              <img
                class="customer-image"
                src="./images/customers_say/customer2@1x.png"
                alt="Customer"
              />
            </picture>
          </div>
          <div class="customers__list-content">
            <h3 class="customers__card-title">Sumith Shah</h3>
            <p class="customers__card-text">Some Dude</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
