<section class="favorites" id="favorites">
  <div class="container">
    <h2 class="favorites__title">
      Some of Our <br class="favorites__text-mover" />Favorites
    </h2>
    <p class="favorites__text">
      Lorem ipsum dolor sit amet, consectetur
      <br class="favorites__text-mover" />
      adipiscing elit.
    </p>
    <ul class="favorites__list card-set list">
      <li class="favorites__item">
        <a href="#" class="favorites__link">
          <img
            srcset="
              ./images/favorites/gam/gamburger-224.png 224w,
              ./images/favorites/gam/gamburger-268.png 268w,
              ./images/favorites/gam/gamburger-315.png 315w,
              ./images/favorites/gam/gamburger-448.png 448w,
              ./images/favorites/gam/gamburger-536.png 536w,
              ./images/favorites/gam/gamburger-630.png 630w
            "
            src="./images/favorites/gam/gamburger-224.png"
            alt="gamburger"
            sizes="(min-width: 1280px) 315px,
            (min-width: 768px) 268px,(min-width: 480px) 224px, 224px"
          />
        </a>
      </li>

      <li class="favorites__item">
        <a href="#" class="favorites__link">
          <img
            srcset="
              ./images/favorites/pasta/Pasta-224.png 224w,
              ./images/favorites/pasta/Pasta-268.png 268w,
              ./images/favorites/pasta/Pasta-315.png 315w,
              ./images/favorites/pasta/Pasta-448.png 448w,
              ./images/favorites/pasta/Pasta-536.png 536w,
              ./images/favorites/pasta/Pasta-630.png 630w
            "
            src="./images/favorites/pasta/Pasta-224.png"
            alt="pasta"
            sizes="(min-width: 1280px) 315px,
            (min-width: 768px) 268px,(min-width: 480px) 224px, 224px"
          />
        </a>
      </li>

      <li class="favorites__item">
        <a href="#" class="favorites__link">
          <img
            srcset="
              ./images/favorites/pizza/pizza-224.png 224w,
              ./images/favorites/pizza/pizza-268.png 268w,
              ./images/favorites/pizza/pizza-315.png 315w,
              ./images/favorites/pizza/pizza-448.png 448w,
              ./images/favorites/pizza/pizza-536.png 536w,
              ./images/favorites/pizza/pizza-630.png 630w
            "
            src="./images/favorites/pizza/pizza-224.png"
            alt="pizza"
            sizes="(min-width: 1280px) 315px,
            (min-width: 768px) 268px,(min-width: 480px) 224px, 224px"
          />
        </a>
      </li>

      <li class="favorites__item item-hidden">
        <a href="#" class="favorites__link">
          <img
            class="item-hidden"
            srcset="
              ./images/favorites/chicken/chicken-268.png 268w,
              ./images/favorites/chicken/chicken-315.png 315w,
              ./images/favorites/chicken/chicken-536.png 536w,
              ./images/favorites/chicken/chicken-630.png 630w
            "
            src="./images/favorites/chicken/chicken-268.png"
            alt="chicken"
            sizes="(min-width: 1280px) 315px,
            (min-width: 768px) 268px,(min-width: 480px) 224px, 224px"
          />
        </a>
      </li>

      <li class="favorites__item item-hidden">
        <a href="#" class="favorites__link">
          <img
            class="item-hidden"
            srcset="
              ./images/favorites/salat/salat-268.png 268w,
              ./images/favorites/salat/salat-315.png 315w,
              ./images/favorites/salat/salat-536.png 536w,
              ./images/favorites/salat/salat-630.png 630w
            "
            src="./images/favorites/salat/salat-268.png"
            alt="salat"
            sizes="(min-width: 1280px) 315px,
            (min-width: 768px) 268px,(min-width: 480px) 224px, 224px"
          />
        </a>
      </li>

      <li class="favorites__item item-hidden">
        <a href="#" class="favorites__link">
          <img
            class="item-hidden"
            srcset="
              ./images/favorites/borshch/borshch-268.png 268w,
              ./images/favorites/borshch/borshch-315.png 315w,
              ./images/favorites/borshch/borshch-536.png 536w,
              ./images/favorites/borshch/borshch-630.png 630w
            "
            src="./images/favorites/borshch/borshch-268.png"
            alt="borshch"
            sizes="(min-width: 1280px) 315px,
            (min-width: 768px) 268px,(min-width: 480px) 224px, 224px"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
