<footer class="footer" id="footer">
  <div class="container footer__container">
    <div class="footer__nav-block">
      <div class="footer__nav">
        <a class="link footer__logo" href="./index.html">
          <svg class="footer__logo-icon" width="66" height="52">
            <use href="./images/footer/sprite-footer.svg#logo"></use>
          </svg>
        </a>
        <nav class="footer-nav">
          <ul class="list footer-nav__list">
            <li class="footer-nav__item">
              <a class="link footer-nav__link" href="./index.html">Home</a>
            </li>
            <li class="footer-nav__item">
              <a class="link footer-nav__link" href="#hero">About</a>
            </li>
            <li class="footer-nav__item">
              <a class="link footer-nav__link" href="#offerings">Service</a>
            </li>
            <li class="footer-nav__item">
              <a class="link footer-nav__link" href="#favorites">Menu</a>
            </li>
            <li class="footer-nav__item">
              <a class="link footer-nav__link" href="#footer">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
      <form class="sign-up-form" name="sign-up-form">
        <strong class="sign-up-form__title">Subscribe</strong>
        <div class="sign-up-form__inner">
          <div class="sign-up-form__box">
            <input
              class="sign-up-form__input"
              type="email"
              name="user-email"
              placeholder="Enter your email"
            />
            <div class="error-message">
              <svg class="error-message__icon" width="12" height="12">
                <use href="./images/footer/sprite-footer.svg#error"></use>
              </svg>
              <p class="error-message__text">
                Not a valid email address (example@email.com)
              </p>
            </div>
          </div>
          <button class="sign-up-form__btn" type="button">Subscribe</button>
        </div>
        <div class="agreement">
          <span class="agreement__text"
            >By subscribing you agree to with our
            <a class="agreement__link" href="#">Privacy Policy</a></span
          >
        </div>
      </form>
    </div>
    <div class="copy-box">
      <ul class="list copy-box__list">
        <li class="copy-box__item">
          <a class="copy-box__link" href="#">Privacy Policy</a>
        </li>
        <li class="copy-box__item">
          <a class="copy-box__link" href="#">Terms of Service</a>
        </li>
        <li class="copy-box__item">
          <a class="copy-box__link" href="#">Cookies Settings</a>
        </li>
      </ul>
      <p class="copy-box__text">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
