<header class="header">
  <div class="container header__container">
    <a class="link header__logo" href="./index.html">
      <svg class="header__logo-icon" width="66" height="52">
        <use href="./images/header/sprite-header.svg#logo"></use>
      </svg>
    </a>
    <button
      class="mobile-menu-btn burger-btn"
      type="button"
      data-mobile-menu-open
    >
      <svg class="mobile-menu-icon burger-icon" width="28" height="28">
        <use href="./images/header/sprite-header.svg#burger"></use>
      </svg>
    </button>
    <div class="mobile-menu is-hidden" data-mobile-menu>
      <button
        class="mobile-menu-btn mobile-menu__close-btn"
        type="button"
        data-mobile-menu-close
      >
        <svg class="mobile-menu__close-icon" width="24" height="24">
          <use href="./images/header/sprite-header.svg#close"></use>
        </svg>
      </button>
      <div class="mobile-menu__nav">
        <ul class="list mobile-menu__list">
          <li class="mobile-menu__item">
            <a class="link mobile-menu__link" href="./index.html">Home</a>
          </li>
          <li class="mobile-menu__item">
            <a class="link mobile-menu__link" href="#hero">About</a>
          </li>
          <li class="mobile-menu__item">
            <a class="link mobile-menu__link" href="#offerings">Service</a>
          </li>
          <li class="mobile-menu__item">
            <a class="link mobile-menu__link" href="#favorites">Menu</a>
          </li>
          <li class="mobile-menu__item">
            <a class="link mobile-menu__link" href="#footer">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-menu">
      <nav class="header-nav">
        <ul class="list header-nav__list">
          <li class="header-nav__item">
            <a class="link header-nav__link" href="./index.html">Home</a>
          </li>
          <li class="header-nav__item">
            <a class="link header-nav__link" href="#hero">About</a>
          </li>
          <li class="header-nav__item">
            <a class="link header-nav__link" href="#offerings">Service</a>
          </li>
          <li class="header-nav__item">
            <a class="link header-nav__link" href="#favorites">Menu</a>
          </li>
          <li class="header-nav__item">
            <a class="link header-nav__link" href="#footer">Contact</a>
          </li>
        </ul>
      </nav>
      <button class="main-menu__btn" type="button">Order Now</button>
    </div>
  </div>
</header>
