<section class="hero" id="hero">
    <div class="container">
        <div class="hero-box">
            <div class="hero__article">
                <h1 class="hero__title">
                    Enjoy Your Favorite Food From Anywhere
                </h1>
                <p class="hero__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
                </p>
                <button type="button" class="hero__btn--order">
                    Order Now
                </button>
            </div>
            <div class="hero__select">
                <div class="button-thumb">
                    <button type="button" class="hero-select--btn">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img srcset="
                                    ./images/hero/dish-first@1xtablet.jpg 292w,
                                    ./images/hero/dish-first@1xdesktop.jpg 528w,
                                    ./images/hero/dish-first@2xtablet.jpg 584w,
                                    ./images/hero/dish-first@2xdesktop.jpg 1056w"
                                                                                        
                                        sizes="(min-width:1280px) 528px, (min-width:768px) 292px, 100vw "
                                           
                                    src="./images/hero/dish-first@1xdesktop.jpg" alt="dish">
                                </div>
                                <div class="swiper-slide">
                                    <img srcset="
                                    ./images/hero/dish-second@1xtablet.jpg 292w,
                                    ./images/hero/dish-second@1xdesktop.jpg 528w,
                                    ./images/hero/dish-second@2xtablet.jpg 584w,
                                    ./images/hero/dish-second@2xdesktop.jpg 1056w"
                                                                                        
                                        sizes="(min-width:1280px) 528px, (min-width:768px) 292px, 100vw "
                                           
                                    src="./images/hero/dish-second@1xdesktop.jpg" alt="dish"></div>
                                <div class="swiper-slide">
                                    <img  srcset="
                                    ./images/hero/dish-third@1xtablet.jpg 292w,
                                    ./images/hero/dish-third@1xdesktop.jpg 528w,
                                    ./images/hero/dish-third@2xtablet.jpg 584w,
                                    ./images/hero/dish-third@2xdesktop.jpg 1056w"
                                                                                        
                                        sizes="(min-width:1280px) 528px, (min-width:768px) 292px, 100vw "
                                           
                                    src="./images/hero/dish-third@1xdesktop.jpg" alt="dish">
                                </div>
                            </div>
                        </div>
                    </button>
                    <button type="button" class="hero-select__btn-arrow--left swiper-button-prev">
                        <svg class="hero-select__icon--left">
                            <use xmlns href="./images/hero/icon-hero.svg#icon-arrow-left"></use>
                        </svg>
                    </button>
                    <button type="button" class="hero-select__btn-arrow--right swiper-button-next">
                        <svg class="hero-select__icon--right" >
                            <use xmlns href="./images/hero/icon-hero.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </div>
                
            </div>
        </div>
        
    </div>
</section>