<section class="section section-offerings"  id="offerings">
    <div class="container">
        <div class="section-offerings__container">
        <h2 class="section-offerings__title">What’s Special About Our Offerings</h2>
        <p class="section-offerings__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros elementum tristique. Duis
            cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
            <ul class="section-offerings__list list">
            <li class="section-offerings__item section-offerings__rocket-launch">
                <h3 class="section-offerings__subtitle">Fasest Delivery</h3>
                <p class="section-offerings__description section-offerings__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Suspendisse varius enim in eros.</p>
            </li>
            <li class="section-offerings__item section-offerings__touch-app">
                <h3 class="section-offerings__subtitle">Easy to order</h3>
                <p class="section-offerings__description section-offerings__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Suspendisse varius enim in eros.</p>
            </li>
        </ul>
        <button type="button" class="section-offerings__button-order">Order Now</button>
        <button type="button" class="section-offerings__button-read">Read More</button>
        </div>
    </div>
</section>