<section class="section section-offerings" id="offerings">
    <div class="container container-flex">
        <div class="container__apples">
            <img class="section-offerings__img-main" 
                srcset="
                        ./images/offerings/apple-mobile@1x.png 280w, 
                        ./images/offerings/apple-mobile@2x.png 560w, 
                        ./images/offerings/apple-tablet@1x.png 357w,
                        ./images/offerings/apple-tablet@2x.png 714w,
                        ./images/offerings/apple-desktop@1x.png 550w,
                        ./images/offerings/apple-desktop@2x.png 1100w"
                sizes="(min-width: 1280px) 550px, (min-width: 768px) 357px, (max-width: 767px) 280px"
                src="./images/offerings/apple-mobile@1x.png" 
                alt="зображення яблуко" 
                width="280">
            <ul class="section-offerings__img-list list">
                <li>
                    <img srcset="./images/offerings/apple2-tablet@1x.png 1x, ./images/offerings/apple2-tablet@2x.png 2x"
                        src="./images/offerings/apple2-tablet@1x.png" 
                        alt="зображення яблуко" 
                        width="166">
                </li>
                <li>
                    <img srcset="./images/offerings/apple3-tablet@1x.png 1x, ./images/offerings/apple3-tablet@2x.png 2x"
                        src="./images/offerings/apple3-tablet@1x.png" 
                        alt="зображення яблуко" 
                        width="108">
                </li>
            </ul>
        </div>  
        
        
        <div class="container__info">
            <h2 class="section-offerings__title">What’s Special About Our Offerings</h2>
            <p class="section-offerings__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                varius enim in eros elementum tristique. Duis
                cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
                <ul class="section-offerings__list list">
                <li class="section-offerings__item section-offerings__rocket-launch">
                    <h3 class="section-offerings__subtitle">Fasest Delivery</h3>
                    <p class="section-offerings__description-feture">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse varius enim in eros.</p>
                </li>
                <li class="section-offerings__item section-offerings__touch-app">
                    <h3 class="section-offerings__subtitle">Easy to order</h3>
                    <p class="section-offerings__description-feture">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse varius enim in eros.</p>
                </li>
            </ul>
            <ul class="section-offerings__buttons list">
                <li><button type="button" class="section-offerings__button-order">Order Now</button></li>
                <li><button type="button" class="section-offerings__button-read">Read More</button></li>
            </ul>
        </div>
    </div>
</section>