<section class="subscribe">
  <div class="container subscribe-container">
    <div class="subscribe__photo">
      <picture>
        <source
          srcset="
            ./images/subscribe/banan@1x_large.png 1x,
            ./images/subscribe/banan@2x_large.png 2x
          "
          media="(min-width: 1280px)"
        />

        <source
          srcset="
            ./images/subscribe/banan@1x_medium.png 1x,
            ./images/subscribe/banan@2x_medium.png 2x
          "
          media="(min-width: 768px)"
        />

        <source
          srcset="
            ./images/subscribe/banan@1x_small.png 1x,
            ./images/subscribe/banan@2x_small.png 2x
          "
          media="(max-width: 767px)"
        />

        <img
          class="subscribe-image"
          src="./images/subscribe/banan@1x_small.png"
          alt="subscribe"
        />
      </picture>
    </div>
    <div class="subscribe-wrap">
      <div class="subscribe__content">
        <h3 class="subscribe__title">Subscribe To Get Special Offers</h3>
        <p class="subscribe__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique.
        </p>
      </div>

      <div class="subscribe-form">
        <form class="mail-form" name="subscribe-form">
          <div class="test">
            <input
              name="user-email"
              type="email"
              class="mail-form-input"
              placeholder="Enter your email"
              required
            />
            <div class="error-message">
              <svg class="error-message__icon" width="12" height="12">
                <use
                  href="./images/customers_say/customers-sprite.svg#icon-error"
                ></use>
              </svg>
              <p class="error-message__text">
                Not a valid email address (example@email.com)
              </p>
            </div>
          </div>
        </form>
        <button type="submit" class="mail-form__submit-btn">Subscribe</button>
      </div>
    </div>
  </div>
</section>
