.customers {
  background-image: url(../images/customers_say/background_320.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
  padding-top: 60px;
  padding-bottom: 60px;


  @media screen and (min-width: 480px) {
    background-image: url(../images/customers_say/background_480.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/customers_say/background_768.png);

    
    padding-bottom: 120px;
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/customers_say/background_1280.png);

    padding-top: 100px;
    padding-bottom: 200px;
  }
}

.customers-container {
  

  @media screen and (min-width: 768px) {
    
  }

  @media screen and (min-width: 1280px) {
    
  }
}

.customers__list-item {
  background-color: var(--white);
  border-radius: 0px 30px 30px 30px;
  padding: 8px 8px;
  max-width: 501px;

  @media screen and (min-width: 768px) {
    max-width: 336px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 501px;
  }

  &:first-child {
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
      margin-right: var(--indent);
      margin-bottom: 0;
    }

    @media screen and (min-width: 1280px) {
      margin-right: 139px;
      margin-bottom: 0;
    }
  }
}

.customers__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;

  @media screen and (min-width: 768px) {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
  }
}

.customers__text {
  margin-bottom: var(--indent);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  @media screen and (min-width: 768px) {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
  }
}

.customers__list-icon {
  margin-bottom: 28px;
}

.customers__list {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.customers__list-text {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: -0.02em;

  @media screen and (min-width: 768px) {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
  }
}

.customers__card-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}

.customers__card-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

.customers__list-card {
  display: flex;
  justify-content: start;
  align-items: center;
}

.customers__list-content {
  padding: 0 15px;
  border-right: 0.854167px solid var(--border-btn);
}
