.favorites {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.favorites__title {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  font-size: 28px;
  line-height: calc(33 / 28);

  @media screen and (min-width: 768px) {
    font-size: 42px;
    line-height: calc(49 / 42);
  }
}

.favorites__list {
  align-items: center;

  @media screen and (max-width: 767.9px) {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
  }
}

.favorites__text {
  margin-bottom: 60px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  line-height: calc(16 / 14);

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: calc(19 / 16);
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}

.favorites__text-mover {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.favorites__item {
  width: 280px;

  @media screen and (min-width: 768px) {
    width: 336px;
  }

  @media screen and (min-width: 1280px) {
    width: 394px;
  }
}

.item-hidden {
  @media screen and (max-width: 767.9px) {
    display: none;
  }
}

.favorites__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
  border: 11px solid var(--yellow-main);
  border-radius: 140px;
  padding: 17px;
  transition: border-color var(--trans-fast);

  @media screen and (min-width: 768px) {
    border: 14px solid var(--yellow-main);
    border-radius: 168px;
    padding: 20px;
    height: 336px;
  }

  @media screen and (min-width: 1280px) {
    border: 16px solid var(--yellow-main);
    border-radius: 198px;
    height: 394px;
  }

  &:hover,
  &:focus {
    border-color: var(--btn-gr);
    outline: transparent;
  }
}
