.footer {
    background-color: var(--white);
    box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
    background-image: url(../images/footer/footer1@1x_sm.png), url(../images/footer/footer2@1x_sm.png), url(../images/footer/footer3@1x_sm.png);
    background-repeat: no-repeat;
    background-position: right 0 top 0, left 0 top 132px, center bottom; ;
    background-size: 104px, 110px, 253px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/footer/footer1@2x_sm.png), url(../images/footer/footer2@2x_sm.png), url(../images/footer/footer3@2x_sm.png);
    }

    @media (min-width: 768px) {
        background-image: url(../images/footer/footer@1x_md.png);
        background-position: bottom;
        background-size: cover;

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/footer/footer@2x_md.png);
        }
    }

    @media (min-width: 1280px) {
        background-image: url(../images/footer/footer@1x_lg.png);
        background-size: 1211px;

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/footer/footer@2x_lg.png);
        }
    }
    

    &__container {
        padding-top: 60px;
        padding-bottom: 60px;
        
        @media (max-width: 767px) {
            max-width: 480px;
        }

        @media (min-width: 768px) {
            padding-top: 100px;
            padding-bottom: 100px;
        }
    }

    &__nav-block {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 60px;

        @media (min-width: 768px) {
            margin-bottom: 100px;
        }

        @media (min-width: 1280px) {
            flex-direction: row;
            gap: 0;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 80px;
        }
    }

    &__logo {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    &__nav {
        display: flex;
        align-items: flex-start;
        gap: 81px;

        @media (min-width: 768px) {
            align-items: center;
            gap: 114px;
        }

        @media (min-width: 1280px) {
            gap: 148px;
        }
    }
}

.footer-nav {

    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media (min-width: 768px) {
            flex-direction: row;
            gap: 28px;
        }
    }

    &__item {
        font-size: 14px;
        line-height: calc(16/14);
    }

    &__link {
        color: var(--black);
        transition: color var(--trans-fast);
    }

    &__link:active, &__link:hover, &__link:focus {
        color: var(--btn-gr);
        text-decoration: underline;
    }
}

.sign-up-form {
    &__title {
        display: block;
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 12px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;

        @media (min-width: 768px) {
            flex-direction: row;
            gap: 13px;
            margin-bottom: 12px;
        }
    }

    &__input {
        width: 100%;
        height: 42px;
        padding: 12px;
        color: var(--main-cl);
        outline: none;
        border: 1px solid var(--yellow-main);
        border-radius: 30px;
        font-size: 12px;

        @media (min-width: 768px) {
            width: 279px;
        }
    }

    &__input::placeholder {
        color: #505050;
    }

    &__input:not(:placeholder-shown):valid {
        border: 1px solid var(--border-btn);
    }

    &__input:not(:placeholder-shown):invalid {
        border: 1px solid #FF705D;
    }

    &__input:not(:placeholder-shown):invalid ~ .error-message {
        display: flex;
        align-items: center;
        gap: 4px;
        margin-top: 4px;
    }

    &__btn {
        width: 103px;
        height: 42px;
        padding: 11px 22px;
        font-size: 13px;
        font-weight: 500;
        color: var(--main-cl);
        background-color: #FFFFFF;
        border: 1px solid var(--border-btn);
        border-radius: 30px;
        margin-left: auto;
        cursor: pointer;
        transition: background-color var(--trans-fast);

        @media (min-width: 768px) {
            margin-left: 0;
        }
    }

    &__btn:active, &__btn:hover, &__btn:focus {
        background-color: var(--yellow-main);
    }
}

.error-message {
    display: none;

    &__text {
        font-size: 10px;
        color: #FF705D;
    }
}

.agreement {
    font-size: 10px;
    line-height: calc(12/10);

    @media (min-width: 768px) {
        font-size: 12px;
    }

    &__text {
        color: var(--main-cl);
    }

    &__link {
        color: var(--border-btn);
    }
}

.copy-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 35px;

        @media (min-width: 768px) {
            gap: 20px;
        }
    }

    &__item {
        font-size: 10px;
        line-height: calc(12/10);

        @media (min-width: 768px) {
            font-size: 12px;
        }
    }

    &__link {
        color: var(--border-btn);
    }

    &__text {
        font-size: 10px;
        line-height: calc(12/10);

        @media (min-width: 768px) {
            font-size: 12px;
        }
    }
}