.header {
    background-color: var(--white);
    box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);

    &__container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

.mobile-menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.burger-btn {
    @media (min-width: 768px) {
        display: none;
    }
}

.burger-icon {
    fill: var(--border-btn);
}

.burger-icon:active {
    fill: var(--yellow-main);
}

.mobile-menu {
    position: absolute;
    top: 50px;
    right: 20px;
    width: 130px;
    background-color: var(--white);
    border-radius: 30px 0px 30px 30px;
    box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
    overflow: hidden;
    z-index: 20;

    &__close-btn {
        position: absolute;
        top: 4px;
        right: 4px;
    }

    &__close-icon {
            fill: var(--main-cl);
    }

    &__item {
        line-height: calc(19/16);
        padding: 16px;
    }

    &__item:active {
        background-color: var(--btn-gr);
    }

    &__link {
        color: var(--main-cl);
    }

    @media (min-width: 768px) {
        display: none;
    }
}

.mobile-menu.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.main-menu {
    display: none;

    @media (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 28px;
    }

    &__btn {
        padding: 6px 18px;
        border: none;
        background-color: var(--btn-gr);
        border-radius: 30px;
        color: var(--main-cl);
        font-size: 14px;
        cursor: pointer;
        transition: background-color var(--trans-fast);
    }

    &__btn:hover, &__btn:focus {
        background-color: var(--btn-gr-hov);
    }
}

.header-nav {
    &__list {
        display: flex;
        gap: 28px;
    }

    &__item {
        line-height: calc(16/14);
        font-size: 14px;
    }

    &__link {
        color: var(--main-cl);
        transition: color var(--trans-fast);
        
    }

    &__link:hover, &__link:focus {
        color: var(--btn-gr);
        text-decoration: underline;
    }
}
