.hero{
    padding: 16px 0;
    @media(min-width:768px){
        padding:32px 0;
    }
}
.hero__select{
    display: none;
    @media(min-width:768px){
        display: block;
        padding-top: 58px;
    }
} 
.hero-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
   

}
.hero__article{
   min-width: 280px;
   max-width: 480px;
   margin-left: auto;
   margin-right: auto;
    @media(min-width:768px){
        margin-left: 0;
    }
    @media(min-width:1280px){
        max-width: 502px;}
}
.hero__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    color: #2C2C2C;
    margin-top: 40px;
    margin-bottom: 28px;
    @media (min-width:768px) {
        position: absolute;
        top: 0;
        left: 0;
        width: 532px;
        font-size: 42px;
        margin-right:190px ;
        margin-bottom: 44px;
        margin-top: 0;
    }
    @media(min-width:1280px){
        display: block;
        font-size: 48px;
        line-height: 1.2;
        margin-top: 159px;
        margin-bottom: 28px;
    }   

}

.hero__text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #2C2C2C;
    margin-bottom: 28px;
    @media(min-width:768px){
        width: 336px;
        font-size: 16px;
        margin-bottom: 40px;
        padding-top: 100px;
    }
    @media(min-width:1280px){
        width:502px;
    }

}
.hero__btn--order{
    
    width: 98px;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    background-color: #BBF330;
    border-radius: 30px;
    border: none;
    transition-duration: 300ms;
    &:hover,&:focus,&:active{
        background-color: #B5FF00;
    }

}
.button-thumb{
    position: relative;
}
    

.hero-select--btn{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    overflow: hidden;
    background:#FEFEFE;
    border: 14px solid #FFE550;
    transition-duration: 500ms;
    &:hover,&:focus,&:active{
    border-color: #BBF330;
    }
    @media(min-width:1280px){
        width: 580px;
        height: 580px;
        border: 26px solid #FFE550;   
    }
}
.hero-select__btn-arrow--left{
    width: 28px;
    height: 34px;
    padding: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    background: #FEFEFE;
    border-style: none;
    border-width: 0;
    position: absolute;
    top: 50%;
    left: -7px;
    transition-duration: 500ms;
    &:hover .hero-select__icon--left{
        fill: #7EB101;
    }
    &:focus .hero-select__icon--left{
        fill: #7EB101;
    }
    &:active .hero-select__icon--leftt{
        fill: #7EB101;
    }
    @media(min-width:1280px){
        width: 40px;
        height: 48px;
        left: -10px;
    }

}
.hero-select__btn-arrow--right{
    width: 28px;
    height: 34px;
    padding: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    background: #FEFEFE;
    border-style: none;
    border-width: 0;
    position: absolute;
    top: 50%;
    right: -7px;
    @media(min-width:1280px){
        width: 40px;
        height: 48px;
        right: -10px;
    }
    &:hover .hero-select__icon--right{
        fill: #7EB101;
    }
    &:focus .hero-select__icon--right{
        fill: #7EB101;
    }
    &:active .hero-select__icon--right{
        fill: #7EB101;
    }

 
}
.hero-select__icon--right{
    display: block;
    width: 11px;
    height:20px;
    margin-left: auto;
    margin-right: auto;
    fill: black;
    @media(min-width:1280px){
        width: 18px;
        height: 32px;
    }

}
.hero-select__icon--left{
    display: block;
    width: 11px;
    height:20px;
    margin-left: auto;
    margin-right: auto;
    fill: black;
    @media(min-width:1280px){
        width: 18px;
        height: 32px;
    }
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: '';
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: '';
}