.section-offerings {
    padding-top: 41px;
    padding-bottom: 60px;

    background-repeat: no-repeat;
    background-image: url(../images/offerings/rectangle-mobile@1x.png);
        
    background-position: center;
    background-size: 100% 100%;
        
    @media (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
        background-image: url(../images/offerings/rectangle-mobile@2x.png);
    }

    @media screen and (min-width: 768px) {
        padding-top: 150px;
        padding-bottom: 100px;
        z-index: 2;
        margin: -108px 0 0 0;

        background-image: url(../images/offerings/rectangle-tablet@1x.png);

        background-position: center;
        background-size: 100% 100%;
    
        @media (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
            background-image: url(../images/offerings/rectangle-tablet@2x.png);
        }
    }

    @media screen and (min-width: 1280px) {
        padding-top: 177px;
        z-index: 2;
        margin: -161px 0 0 0;

        background-image: url(../images/offerings/rectangle-desktop@1x.png);

        background-position: center;
        background-size: 100% 100%;

        @media (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
            background-image: url(../images/offerings/rectangle-desktop@2x.png);
        }

    }
}

.container-flex{
   
    @media screen and (min-width: 1280px) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
}
.container__info {
    margin-top: 60px;
    
    @media screen and (min-width: 1280px) {
        margin-top: 83px;
        margin-right: 35px;
    }
}

.container__apples {

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.section-offerings__img-main {
    object-fit: cover;
    object-position: center;
    margin: auto;

    @media screen and (min-width: 768px) {
        margin: 0;
        width: 357px;
    }

    @media screen and (min-width: 1280px) {
        width: 550px;
    }

}

.section-offerings__img-list {

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: baseline;
        flex-wrap: wrap;
        gap: 44px;
        margin-top: 45px;
    }

    @media screen and (max-width: 767px), (min-width: 1280px) {
        display: none;
    }

}

.section-offerings__title {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;

    text-align: left;
    margin-bottom: 28px;

    @media screen and (min-width: 768px) {
        font-size: 42px;

        margin-bottom: 20px;
        width: 526px;
    }

    @media screen and (min-width: 1280px) {
        line-height: 1.19;
    }
}

.section-offerings__description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;

    text-align: left;
    margin: 0 0 28px;

    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 1.19;

        margin-bottom: 40px;
        width: 500px;
    }

    @media screen and (min-width: 1280px) {
        line-height: 1.5;
    }
}

.section-offerings__description-feture {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;

        text-align: left;
        margin: 0;

    @media screen and (min-width: 768px) {
        max-width: 252px;
        margin-bottom: 0;
    }

    @media screen and (min-width: 1280px) {
        max-width: 253px;
        line-height: 1.5;
    }
}

.section-offerings__subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;

    text-align: left;
    margin-top: 8px;
    margin-bottom: 16px;

    @media screen and (min-width: 1280px) {
        font-size: 17.0033px;
        line-height: 1.14;
    }
}

.section-offerings__list {
        margin-bottom: 28px;

    @media screen and (min-width: 768px) {
        display: flex;
        gap: 116px;
        margin-bottom: 40px;
    }

    @media screen and (min-width: 1280px) {
        gap: 67px;
        margin-bottom: 32px;
    }
}

.section-offerings__item {
    margin-bottom: 28px;

    &::before {
        display: inline-block;
        content: "";
        width: 48px;
        height: 48px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: var(--white);
        border-radius: 50%;
    }

    @media screen and (min-width: 768px) {
        width: 252px;
        margin-bottom: 0;
    }
}

.section-offerings__item:last-child {
    margin-bottom: 0;
}

.section-offerings__rocket-launch::before {
    background-image: url(../images/offerings/rocket_launch.svg);
}

.section-offerings__touch-app::before {
    background-image: url(../images/offerings/touch_app.svg);
}

.section-offerings__buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
    gap: 20.5px;
}


.section-offerings__button-order {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;

    color: #000;

    align-items: center;
    text-align: center;
    background-color: var(--white);
    border-radius: 30px;
    cursor: pointer;
    padding: 10px 31px;
    border: 2px solid var(--border-btn);

    transition: border var(--trans-fast);

    &:hover,
    &:focus {
        border: 2px solid var(--border-btn-hov);
    }

}

.section-offerings__button-read {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 13.6667px;
    color: #000;
    cursor: pointer;
    align-items: center;
    text-align: center;
    border: none;
    background-color: transparent;

    // margin-left: 20.5px;
    padding: 7px 0;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    &::after {
        content: "";
        width: 13.67px;
        height: 13.67px;
        margin-left: 3.42px;

        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        background-size: contain;
    }

    @media screen and (min-width: 1280px) {
        display: none;
    }
}

.section-offerings__button-read::after {
    background-image: url(../images/offerings/chevron_down.svg);
}
