.subscribe {
background-color: var(--white);
}

.subscribe-container {
    margin-top: 60px;
    margin-bottom: 60px;
    
}

.subscribe__photo {
    margin-bottom: 17px;
}

.subscribe-image {
    @media screen and (max-width:767px) {
        margin: 0 auto;
    }

    @media screen and (min-width:768px) {
        margin-left: auto;
        }
    
}

.subscribe__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.21;
}

.subscribe__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
}

.subscribe__content {
    margin-bottom: 40px;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    
}

.mail-form {
    display: flex;
}

.mail-form-input {
    width: 100%;
    padding: 12px 11px;
    margin-bottom: 20px;
    background: #FEFEFE;
    height: 42px;
    border: 0.854167px solid var(--yellow-main);
    border-radius: 30px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #505050;
}

.mail-form__submit-btn {
    width: 103px;
    height: 42px;
    padding: 11px 22px;
    margin-left: auto;
    background: var(--btn-gr);
    border-radius: 30px;
    border: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.54;
}


